.employees-page{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr auto;
    grid-row: 2/3;
    grid-column: 1/2;
    height: calc(100vh - 44px);
    padding: 20px 0;
}
.employees-page .wrapperSearch{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-bottom: 20px;
}
.list-employee{
    grid-row: 2/3;
    grid-column: 1/3;
    padding-top: 20px;
}
.btn.btn-icon{
    background:url('../../images/icon.png');
    background-position: -48px 0;
}
.btn.btn-icon.btn-delete{
    background-position: 0 0;
}

.btn.btn-icon.btn-update{
    background-position: -24px 0;
}

.search-group {
    display: inline-block;
}

.control-search {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    border: 1px solid var(--border-color);
    color: var(--text-color);
}

.icon-search {
    width: 18px;
    height: 28px;
    border: none;
    position: relative;
    top: -6px;
    cursor: pointer;
    left: -32px;
    transform: rotate(-45deg) translateY(3px);
    background-color: var(--white-color);
}

button.icon-search::after {
    box-sizing: border-box;
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
}

.icon-search::before {
    content: '';
    width: 2px;
    height: 8px;
    background: var(--border-color);
    position: absolute;
    top: 15px;
    left: 5px;
}



