.login-page>.modal-container{
    background: url(https://images.unsplash.com/photo-1530595873198-97abaf511eef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

.login-page .modal-container .modal-title{
    color: var(--white-color);
}

.login-page .modal-container form {
    background-color: transparent;
    min-width: 400px;
}

.login-page .modal-container .form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-page .form-control{
    width: 400px;
}




.login-page label.hide-password{
    width: 24px;
    height: 24px;
    position:absolute;
    top:50%;
    left: 100%;
    transform: translate(-130%,-50%);
    margin-left: 0;
}

.login-page .btn.btn-icon.btn-password{
    background-position: -72px 0;
    appearance: none;
}

.login-page .btn.btn-icon.btn-password {
    margin: 0;
}

.login-page input.hide-password{
    display: none;
}

input.hide-password:checked + .btn.btn-icon.btn-password{
    background-position: -96px 0;
    appearance: none;
}

.login-page .modal-container .modal-action{
    text-align: center;
}

