.card{
    display: inline-block;
    min-width: 200px;
    min-height: 140px;
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 20px 16px;
    color: var(--white-color);
    text-align: center;
}
.card-title{
    font-size: 20px;
    font-weight: 600;
}

.card-desc{
    margin-top: 20px;
    color: var(--green-color);
    font-size: 40px;
}
