nav{
    display: flex;
    gap: 20px;
    justify-content: end;
    width: 100%;
    background-color: var(--background-color);
    order: 1;
}
nav a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 10px;
}
nav a:hover{
    background-color: var(--text-color);
    color: var(--white-color);
}
