    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body,
    html {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    button {
        cursor: pointer;
    }
    
    .user-section {
        width: 100%;
        padding: 20px 10%;
        margin-top: 50px;
        position: relative;
        min-height: 600px;
    }
    
    .modal {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(61, 61, 60, .9);
        display: none;
        padding: 20px;
    }
    
    .modal__dialog {
        width: 60%;
        max-width: 500px;
        height: 50%;
        background-color: #fff;
        border-radius: 10px;
        margin: auto;
        margin-top: 7%;
        display: grid;
        grid-template-rows: auto 1fr auto;
        padding: 10px;
    }
    
    .modal__header {
        padding: 10px 0;
    }
    
    .close {
        width: 50px;
        height: 50px;
        font-size: 24px;
        border: none;
        color: #FFFFFF;
        background-color: transparent;
        border-radius: 50%;
        float: right;
    }
    
    .close:hover {
        background-color: rgb(61, 61, 60);
    }
    
    .user-header {
        display: flex;
        justify-content: space-between;
    }
    
    .add-user-form {
        display: flex;
        flex-direction: column;
    }
    
    .form-label {
        display: flex;
        flex-direction: column;
    }
    
    .form-label>span {
        font-size: 16px;
        font-weight: 600;
    }
    
    .form-label+.form-label {
        margin-top: 10px;
    }
    
    .form-control {
        font-size: 20px;
        padding: 8px 10px;
        color: #252424;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
    }
    
    .form-control:focus {
        border-color: #333;
    }
    
    .modal__footer {
        display: flex;
        justify-content: flex-end;
        gap: 10px
    }
    
    .btn-add,
    .btn-cancel {
        padding: 8px 24px;
        font-size: 20px;
        color: #FFFFFF;
        border-radius: 10px;
        border: none;
    }
    
    .btn-cancel {
        background-color: rgba(103, 103, 103, 0.8);
    }
    
    .btn-cancel:hover {
        background-color: rgb(103, 103, 103);
    }
    
    .btn-add {
        background-color: rgb(53, 130, 232, .8);
    }
    
    .btn-add:hover {
        background-color: rgb(53, 130, 232);
    }
    
    .user-title {
        font-size: 32px;
        font-weight: 600;
    }
    
    .user__add-button {
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        background-color: #167eba;
        color: #fff;
        font-size: 16px;
    }
    
    .user__add-button:hover {
        background-color: rgb(22, 126, 186, .5);
    }
    
    table {
        width: 100%;
        margin: auto;
        border-collapse: collapse;
        margin-top: 10px;
        border: 2px solid #ccc;
    }
    
    th {
        background-color: #167eba;
    }
    
    th,
    td {
        border: 1px solid #000000;
        text-align: center;
        padding: 2px 4px;
    }
    
    tr:nth-of-type(even) {
        background-color: #ccc;
    }
    
    tbody>tr:hover {
        background-color: rgb(101, 101, 101);
        color: #FFFFFF;
    }
    
    tbody>tr {
        cursor: pointer;
    }
    
    .btn-delete,
    .btn-update {
        font-size: 12px;
        padding: 8px 24px;
        border: none;
        border-radius: 16px;
        color: #dfd1d1;
    }
    
    .btn-delete {
        background-color: rgba(235, 12, 12, 0.8);
    }
    
    .btn-update {
        background-color: rgb(20, 120, 197, 0.8);
        margin-left: 20px;
    }
    
    .btn-delete:hover {
        background-color: rgba(235, 12, 12);
        color: #FFFFFF;
    }
    
    .btn-update:hover {
        background-color: rgb(20, 120, 197);
        color: #FFFFFF;
    }