body {
    max-width: 1440px;
    margin: auto;
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
}

.btn+.btn {
    margin-left: 20px;
}

.btn:hover {
    opacity: .8;
}

.btn.btn-info {
    background-color: #0dcaf0;
}

.btn.btn-warning {
    background-color: #ffc107;
}

.btn.btn-danger {
    background-color: #b02a37;
}

.btn.btn-dark {
    background-color: #778899;
}