body {
    max-width: 1440;
    margin: auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}



.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--green-color);
    position: relative;
    margin: auto;
}


.active::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 5px;
    border-right: 2px solid var(--green-color);
    border-bottom: 2px solid var(--green-color);
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.inactive {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--red-color);
    position: relative;
    margin: auto;
}

.inactive::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: var(--red-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.inactive::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: var(--red-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}




