.employee-page{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-Employee{
    padding: 30px 25px;
}
.employee-page .form-control {
    color: #333333;
    background-color: #eee;
    border: 1px solid rgb(51, 51, 51,.7);
}
.employees-page .form-control::placeholder{
    color: #333333;
}
.employee-page .form-control:focus{
    border: 2px solid rgba(34, 205, 214, 0.5);
    box-shadow: 0 0 10px 0 rgba(34, 205, 214, 0.5);
}

.employee-page .modal-container form {
    width: 60%;
    max-width: 650px;
    color: #333333;
}
.employee-page .modal-title {
    color: #333333;
    text-shadow: 4px 4px 5px #f8f0f0;
}

.employee-page .form-group{
    grid-template-columns: 70px 1fr;
}
.employee-page .modal-action{
    text-align: right;
}
.employee-page .form-group>.form-group{
    gap:40px;
}
