.login-page>.modal-container{
    background: url(https://images.unsplash.com/photo-1530595873198-97abaf511eef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}
.login-page .modal-container form {
    width: 50%;
    max-width: 550px;
    background-color: transparent;
    color:var(--white-color);

}
.modal-title {
    color: #f8f0f0;
    text-shadow: 4px 4px 5px #f8f0f0;
}
.form-group {
    grid-template-columns:  1fr;
    align-items: center;
    position: relative;
}
.form-control {
    background-color: rgba(191, 188, 188, 0.5);
    color: var(--white-color);
}
.form-control:focus{
    border: 2px solid rgba(34, 205, 214, 0.5);
    box-shadow: 0 0 10px 0 rgba(34, 205, 214, 0.5);
}
.form-control::placeholder{
    color: var(--white-color);
}

label.hide-password{
    width: 24px;
    height: 24px;
    position:absolute;
    top:50%;
    left: 100%;
    transform: translate(-130%,-50%);
    margin-left: 0;
}



.btn.btn-icon.btn-password{
    background-position: -72px 0;
    appearance: none;
}

.btn.btn-icon.btn-password {
    margin: 0;
}input.hide-password{
    display: none;
}
input.hide-password:checked + .btn.btn-icon.btn-password{
    background-position: -96px 0;
    appearance: none;
}

.login-page .modal-action{
    text-align: center;
}
