nav{
    display: flex;
    gap: 20px;
    justify-content: end;
    width: 100%;
    background-color: rgb(20, 22, 22);
    order: 1;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 10px;
}
nav a:hover{
    background-color: rgba(111, 126, 126, 0.5);
}
