@import url(./reset.css);
@import url(./common.css);
@import url(./variable.css);
@import url(homePage.css);
@import url(./employees.css);
@import url(./login.css);
@import url(loader.css);
@import url(todo.css);
@import url(employee.css);
@import url(navigation.css);
@import url(pagination.css);
@import url(card.css);
body{
    display: flex;
    flex-direction: column;
}
#root{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    order:2;
}




