@import url(./reset.css);
@import url(./common.css);
@import url(./variable.css);
@import url(./employees.css);
@import url(./login.css);
@import url(todo.css);


.btn.btn-icon{
    padding: 0;
    width: 24px;
    height: 24px;
    background:url('../images/icon.png');
    background-position: -48px 0;
    margin-left: 20px;
}
.btn.btn-icon.btn-delete{
    background-position: 0 0;
}

.btn.btn-icon.btn-update{
    background-position: -24px 0;
}
.btn+.btn {
    margin-left: 20px;
}

.btn:hover {
    opacity: .8;
}


.search-group {
    display: inline-block;
}

.control-search {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    border: 1px solid #555;
    color: #888;
}

.icon-search {
    width: 18px;
    height: 28px;
    border: none;
    position: relative;
    top: -6px;
    cursor: pointer;
    left: -32px;
    transform: rotate(-45deg) translateY(3px);
    background-color: #fff;
}

.btn-add {
    float: right;
}

button.icon-search::after {
    box-sizing: border-box;
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #555;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
}

.icon-search::before {
    content: '';
    width: 2px;
    height: 8px;
    background: #555;
    position: absolute;
    top: 15px;
    left: 5px;
}







 tr {
    border: 1px solid #ccc;
    cursor: pointer;
}

 tr:hover {
    background-color: #333 !important;
    color: #fff !important;
}

th,
 td {
    padding: 6px 12px;
    text-align: center;
}

 th {
    background-color: rgb(54, 62, 54);
    color: #fff;
}

 tr:nth-of-type(odd) {
    background-color: rgb(204, 204, 204);
}


.active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #7FFF00;
    position: relative;
    margin: auto;
}

.active::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 5px;
    border-right: 2px solid var(--green-color);
    border-bottom: 2px solid var(--green-color);
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.inactive {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--red-color);
    position: relative;
    margin: auto;
}

.inactive::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: var(--red-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.inactive::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 12px;
    background-color: var(--red-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
