
.todo-page .btn-close {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    cursor: pointer;
    float: right;
    background-color: #d91b1b;
    top: 0;
    right: 0;
}
